# Please keep this file alphabetically sorted, thanks!
#
!/repositories/.gitkeep
*.crt
*.key
*.pem
*.swp
.DS_Store
.bundle/
.cache/
.kdkrc.custom
.idea
.nova
.runner_system_id
.yardoc
/*.log
/.backups/
/.env
/.gettext
/.gitaly-ruby-bundle
/.khulnasoft-bundle
/.khulnasoft-lefthook
/.khulnasoft-npm
/.khulnasoft-shell-bundle
/.khulnasoft-translations
/.khulnasoft-ui-yarn
/.khulnasoft-yarn
/.node-version
/.ruby-gemset
/.ssh/
/.vagrant/
/.vscode/
/Procfile
/artifacts/
/bootstrap-rails.log
/builds
/khulnasoft-cells/
/charts-khulnasoft
/clickhouse
/consul/
/container-registry
/coverage
/db_backup
/dev/
/doc-site/public/
/doc-site/.hugo_build.lock
/elasticsearch*
/env.runit
/kdk-ce/**
/kdk-config.mk
/kdk-ee/**
/kdk.yml
/gem/*.gem
/gettext.log
/gitaly/
/khulnasoft-ai-gateway/
/khulnasoft-development-kit/**
/khulnasoft-docs
/khulnasoft-docs-hugo
/docs-khulnasoft-com
/khulnasoft-elasticsearch-indexer
/khulnasoft-http-router/
/khulnasoft-topology-service/
/khulnasoft-k8s-agent-config.yml
/khulnasoft-k8s-agent/
/khulnasoft-kas-websocket-token-secret
/khulnasoft-kas-autoflow-temporal-workflow-data-encryption-secret
/khulnasoft-last-verified-sha.json
/khulnasoft-operator
/khulnasoft-pages
/khulnasoft-pages-secret
/khulnasoft-runner
/khulnasoft-runner-config.toml
/khulnasoft-shell
/khulnasoft-shell/
/khulnasoft-spamcheck
/khulnasoft-ui
/khulnasoft-workhorse
/khulnasoft-zoekt-indexer
/khulnasoft-observability-backend
/khulnasoft/
/khulnasoft_pages_port
/google_oauth_client_id
/google_oauth_client_secret
/grafana/
/host
/hostname
/https_enabled
/influxdb/
/jaeger-artifacts/
/jaeger/
/kerberos/http.keytab
/lefthook-local.yml
/log/
/mattermost
/minio
/nginx/client_body_temp
/nginx/conf/nginx.conf
/nginx/fastcgi_temp
/nginx/logs
/nginx/proxy_temp
/nginx/scgi_temp
/nginx/tmp
/nginx/uwsgi_temp
/object_store_enabled
/object_store_port
/omnibus-khulnasoft
/openbao
/openbao-internal
/openssh/*.pub
/openssh/*_key
/openssh/sshd_config
/pgbouncers/
/pgvector/
/port
/postgresql-geo/
/postgresql-primary
/postgresql-replica-2/.s.*
/postgresql-replica-2/data
/postgresql-replica/.s.*
/postgresql-replica/data
/postgresql/.s.*
/postgresql/data*
/postgresql_geo_port
/postgresql_port
/prometheus/prometheus.yml
/public
/redis-cluster/*.conf
/redis/*.conf
/redis/dump.rdb
/registry/config.yml
/registry/storage/
/registry_enabled
/registry_external_port
/registry_host
/registry_port
/relative_url_root
/repositories/
/repository_storages/
/services/
/sitespeed-result/
/siphon/
/nats/
/snowplow
/spec/examples.txt
/sv/
/webpack_port
/zoekt-data/
/zoekt/
/duo-workflow-executor/
/duo-workflow-service/
Brewfile.lock.json
haproxy/haproxy.cfg
node_modules/
